<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <title>레몬인형 상세페이지</title>
  <style>
    * {
      font-family: 'Nanum Gothic', sans-serif;

    }

    .productPage {
      margin: 30px auto;
      width: 700px;
    }

    img {
      margin-bottom: 30px;
    }

    .title h1,
    .title h5 {
      display: inline;
    }

    h1 {
      font-weight: bold;
    }

    .order {
      text-align: center;
    }
  </style>
  <script type="text/javascript">

    // 주문완료 안내
    function order() {
      let name = $('#name').val()
      let quantity = $('#quantity option:selected').val()
      let address = $('#address').val()
      let phonenumber = $('#phonenumber').val()
      var regPhone = /(010)[-](\d{3}|\d{4})[-](\d{4}$)/g;
      if (name == '') {
        alert('주문자 성함을 입력해주세요.')
        return
      }
      else if (quantity == '수량을 선택하세요.') {
        alert('수량을 선택해주세요.')
        return
      }
      else if (address == '') {
        alert('주소를 입력해주세요.')
        return
      }
      else if (phonenumber == '') {
        alert('연락처를 입력해주세요.')
        return
      }
      else if(!regPhone.test(phonenumber)){
        alert('형식에 맞게 입력해주세요. \n 예) 010-0000-0000')
        return
      }

      // 주문정보 저장하기
      $.ajax({
        type: 'POST',
        url: '/order',
        data: { name_give: name, quantity_give: quantity, address_give: address, phonenumber_give: phonenumber },
        success: function (response) {
          if (response['result'] == 'success') {
            alert(response['msg']);
            window.location.reload();
          }
        }
      });
    }

    // 주문정보 불러오기
    $(document).ready(function () {
      $('#order_list').html('');
      listing();
    });

    function listing() {
      $.ajax({
        type: "GET",
        url: "/order",
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let orders = response['orders'];
            for (let i = 0; i < orders.length; i++) {
              name = response['orders'][i]['name']
              quantity = response['orders'][i]['quantity']
              address = response['orders'][i]['address']
              phonenumber = response['orders'][i]['phonenumber']
              trTag = `<tr>
                          <th scope="row">${name}</th>
                          <td>${quantity}</td>
                          <td>${address}</td>
                          <td>${phonenumber}</td>
                      </tr >
                      `
              $('#order_list').append(trTag)
            }

          } else {
            alert('리뷰를 받아오지 못했습니다');
          }
        }
      });
    }

    // 환율정보 안내
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url: "https://api.manana.kr/exchange/rate.json",
        data: {},
        success: function (response) {
          $('#exchange-rate').text(response[1]['rate']);
          return;
        }
      })
    });
  </script>
</head>

<body>
  <div class="productPage">
    <div>
      <img src="{{ url_for('static', filename='kakao.jpg') }}" class="img-fluid" alt="Responsive image" />
    </div>
    <div>
      <div class="title">
        <h1>[카카오프렌즈] 레몬 인형</h1>
        <h5>가격 : 32,000원/개</h5>
      </div>
      <br>
      <div>
        봄이 생각나는 노란색 옷을 입은 레몬 프렌즈, 머리 위 풀잎과 쏙 끌어안은 커다란 레몬이 포인트예요.
      </div>
      <br>
      <div>
        <SPAN style="background:#ffc107; font-weight: bold;">
          달러-원 환율 : <span id="exchange-rate"></span>
        </SPAN>
      </div>
      <hr>
    </div>
    <br>
    <div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">주문자</span>
        </div>
        <input type="text" class="form-control" id="name" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select id="quantity" class="custom-select" id="inputGroupSelect01">
          <option selected>수량을 선택하세요.</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
        </div>
        <input type="text" class="form-control" id="address" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">연락처</span>
        </div>
        <input type="tel" pattern="(010)-\d{3,4}-\d{4}" autofocus placeholder="010-0000-0000 형식으로 입력해주세요."
          class="form-control" id="phonenumber" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <br>
    <div class="order">
      <button type="button" class="btn btn-outline-warning btn-lg" id="order_button" onclick="order()">주문하기</button>
    </div>
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">주문자</th>
          <th scope="col">수량</th>
          <th scope="col">주소</th>
          <th scope="col">연락처</th>
        </tr>
      </thead>
      <tbody id="order_list">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>