<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Google Fonts  -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>빵빵한 지도</title>
  <style type="text/css">
    .jumbotron {
      height: 330px;
      background-color: white;
      background-size: cover;
      font-family: 'Nanum Gothic', sans-serif;
      margin-bottom: 0px;
      text-align: center;
    }

    .desc {
      color: rgb(31, 31, 31);
    }


    #map {
      height: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .lead {
      margin-bottom: 30px;
    }
  </style>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script>

    //기본 지도
    $(document).ready(function () {
      initMap();
    });

    function initMap() {
      var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 12, center: { lat: 37.5642135, lng: 127.0016985 }, })
    }

    //필터 지도
    function filteredMap() {
      var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 12, center: { lat: 37.5642135, lng: 127.0016985 }, })
      //체크박스 리스트 생성
      var check_count = document.getElementsByName("category").length;
      var check_box_list = []
      for (let i = 0; i < check_count; i++) {
        if (document.getElementsByName("category")[i].checked == true) {
          check_box_list.push(document.getElementsByName("category")[i].value)
        }
      }
      //카테고리 선택 여부 확인
      if (check_box_list.length == 0) {
        alert('원하는 카테고리를 선택해주세요.')
        return
      }
      //하단으로 스크롤 이동
      $('html, body').scrollTop($(document).height());
      //url 생성
      url = '/places?filter='
      for (let i = 0; i < check_box_list.length; i++) {
        if (i != 0) {
          url = url + ',' + check_box_list[i];
        } else {
          url = url + check_box_list[i];
        }
      }
      $.ajax({
        type: 'GET',
        url: url,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let bakerys = response['bakerys_list']
            for (let i = 0; i < bakerys.length; i++) {
              var bakery = { lat: bakerys[i]['latitude'], lng: bakerys[i]['longitude'] }
              var marker = new google.maps.Marker({ position: bakery, map: map, title: bakerys[i]['name'] });
            }
          }
        }
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvMd2zBN0j0fzFbGjyT6h2WNLu0-hjnw8&callback=initMap"
    async defer></script>

</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="desc">
        <h3 style="font-weight:700">
          여러분은 어떤 빵을 찾아 헤매고 있나요?</h3>
        <br>
        <p class="lead">빵빵한 지도에게 물어보세요.
          <br>
          여러분에게 딱 맞는 베이커리를 추천해드려요!</p>
      </div>
      <div id="checkbox">
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox1" value="vegan">
          <label class="form-check-label" for="inlineCheckbox1">비건</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox2" value="glutenfree">
          <label class="form-check-label" for="inlineCheckbox2">글루텐프리</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox2" value="lowcarb">
          <label class="form-check-label" for="inlineCheckbox2">저탄수화물</label>
        </div>
      </div>
      <br>
      <div>
        <button class="btn btn-outline-primary" onclick="filteredMap()">베이커리 탐험하기</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="map"></div>
</body>